@font-face {
    font-family: "avenir-bold";
    src: url("../fonts/AvenirNextLTPro-Heavy.woff") format('woff');
}

@font-face {
    font-family: "avenir-cn";
    src: url("../fonts/AvenirNextLTPro-Cn.woff") format('woff');
}

body{
	font-family: avenir-cn, arial;
	overflow-x: hidden;
}	

h1{
    font-family: avenir-bold;
    text-align: center;
    font-size: 4em;
    margin-top: 80px;
}
h2{
	font-family: avenir-bold;	
	font-size: 1.5em;
}

p{
    font-family: 'avenir-cn';  
    font-size:1.2em;
    color:#222222;
}

.color-white{
	color:#fff;
	transition: color .4s;
}

.trigger{
	position: fixed;
	left: 30px;
	top:15px;
	//transform: translateX(-50%);
	font-size: 3em;
	cursor: pointer;
	display: block;
	z-index: 9999;
	transition: color .4s;
}

.page{
    //box-shadow: 0px 0px 5px #888888;
    min-height:100vh;
    z-index:1;
    display: block;

}

.container{
     max-width:1050px;   
}

.button{
	padding:15px 25px;
	border:solid 1px #222;
	color:#222;
	text-decoration: none !important;
	transition: .2s;
	font-family: 
}

.button:hover{
	border-color:#fbb040;
	color:#fbb040;
	transition: .2s;
}

@media screen and (max-width:767px){

}

/*********************************************
 NAVIGATION
*********************************************/

nav{
	position: fixed;
	left:100px;
	top:-40px;
	transition: top 0.4s;
	z-index:9999;
}

nav a{
	margin-right:30px;	
	font-size:1em;
	color:#fff;
	font-weight: 900;
	letter-spacing: 3px;
}

nav.active{
	top:35px;
	transition: top .8s;
}

.nav-border{
	width: 100%;
	height:100%;
	position: fixed;
	background-color:transparent;
	
}

.nav-on{
	border: solid 30px;
	border-top-width: 90px;
	transition: border .4s, border-top-width .4s, background-color .4s, z-index .4s;
	background-color: rgba(0, 0, 0, 0.4);
    z-index:999;
}

.nav-off{
	border: solid 0px;
	border-top-width: 0px;
	transition: border .4s, border-top-width .4s, background-color .4s, z-index .4s;
	background: none;
}

/*********************************************
 HOME
*********************************************/
#home{
	min-height:100vh;    
}

.logo{
	text-align: center;	
	margin-top:15vh;
}

.logo img{
	height:250px;
}

#T{
	position: relative;
	left:48px;
}

#A{
	position: relative;
	left:-48px;
}

.page-heading{
	margin-bottom:60px;
}

.tagline img{
	width:500px;
	margin:80px auto 15px;
	display: block;
}

.sub-heading{
	font-size:1.5em;
	text-transform: uppercase;
	font-weight:400;
	text-align: center;
	letter-spacing: 4px;
    font-family: avenir-cn;
}


@media screen and (max-width: 768px) {
	.logo img{
		height:175px;
	}
	#T{
		left:34px;
	}

	#A{
		left:-33px;
	}
	
	.tagline img{
		width:350px;
	}
}

@media screen and (max-width: 480x) {
	.logo img{
		height:125px;
	}
	#T{
		left:24px;
	}

	#A{
		left:-23px;
	}
}

/*********************************************
 ABOUT ME
*********************************************/

#about-me img{
     max-height:600px;  
	position: relative;
	left: -100px;
}

@media screen and (max-width: 768px) {
     #about-me img{
         max-height:40vh;  
        position: relative;
        left: 30%;
    }   
}

/*********************************************
 WORK
*********************************************/
#work{
	position: relative;
}

.work-details{
	margin-top: 60px;
	
}

.work-details a{
	position: relative;
	top: 20px;
}


/*SLIDER*/

.slide-container{
	height: 100%;
	display: block;
	margin:0 60px;
	position: relative;
}

.slide{
	position: absolute;
	opacity:0;
	transition: 1.2s;
	z-index:1;
	transform: scale(.2);
}

.slide-on{
	opacity:1;	
	transition: 1.2s;
	z-index:2;
	transform: scale(1);
}

.slide img{
	max-height:60vh;
	position: relative;
	top: 0px;
    display: block;
}

.work-prev, .work-next{
	position: absolute;
	top: 50%;
	font-size:3em;
	color:#c2c2c2;
	transition: .2s;
	cursor: pointer;
    z-index:3;
    display: block;
}

.work-prev{
	left:40px;
}

.work-next{
	right:40px;
}

.work-prev:hover, .work-next:hover{
	color:#fbb040;
	transition: .2s;
}


@media screen and (max-width:991px){
	.slide img{
		top: 30px;
		max-height:40vh;
	}
	.work-details{
		margin-top: 30px;
	}
}

@media screen and (max-width:767px){
	.slide img{
		margin: 0 auto;
		top:0;
	}
	.slide h2{
		text-align: center;	
	}
    
    .slide{
         position: inherit;
        transform: scale(1) !important;
        opacity: 1;
        margin-bottom:100px;
    }
    
    .work-prev, .work-next{
         display: none;
    }
}

@media screen and (max-width:480px){
	.slide-container{
		margin:0;	
	}
	.work-prev{
		left:10px;
	}

	.work-next{
		right:10px;
	}
	
	.slide img{
		right:0;
		
	}
}


/*********************************************
 CONTACT
*********************************************/

#contact p{
     text-align: center;   
    font-size: 1.5em;
    font-weight: 00;
}

#contact i{
     font-size: 2em;   
}

#contact .col-sm-4{
     margin-top:80px;   
}



/*********************************************
 UP ARROW
*********************************************/

.up-arrow{
     position: fixed;
    display: block;
    bottom: 20px;
    z-index: 9999;
    opacity:0.3;
    transition: right .3s;
}

.up-arrow img{
    height:35px;
}

.arrow-on{
    right:20px;
}

.arrow-off{
    right:-50px; 
}












































